@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: aqua;
    font: normal 20px Arial;
}

header{
    color: white;
    text-align: center;
    margin: 10px auto;
}
section{
    margin: auto;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.281);
}
div{
    text-align: center;
    padding: 5px;
}
footer{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: 10px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.281);
}